<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  input {
     margin: 10px;
     padding: 0.7rem 1.4rem;
     border: 0.2px solid rgba(0, 0, 0, 0.2);
     background-color: white;
     border-radius: 10px;
     outline: none;
  }

  button {
    width: 90px;
    margin: 10px;
    padding: 0.7rem 1.4rem;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
  }

  button:hover {
    border: 0.2px solid rgba(0, 0, 0, 0.4);
  }

  button:active {
    background-color: #fafafa;
    border: 0.2px solid rgba(0, 0, 0, 0.4);
  }

  app-card {
    width: 100%;
  }
</style>

<!-- Toolbar -->
<div class="app">
  <div class="app__toolbar">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <div class="app__toolbar-content">
      <span> Welcome </span>
      <span class="app__user-name"> {{ userName }} </span>
    </div>
  </div>

  <div class="app__date">
    <strong> {{ currentDate | date:'dd MMMM YYYY HH:mm:ss' }} </strong>
  </div>

  <div>
    <input type="text" placeholder="Enter your name" maxlength="50" [(ngModel)]="userName" (blur)="clear($event)">
    <input type="password" placeholder="Enter your password" maxlength="50" [(ngModel)]="userPassword">
    <button (click)="toggleCards()"> Go </button>
    <button (click)="startAgain()"> Again </button>
  </div>

  <div class="app__content" *ngIf="toggle; else noCards">
    <div class="app__main-title"> Learning </div>
    <app-card
      *ngFor="let question of selectedTest; index as index"
      [arrayQuestion]="question"
      [length]="selectedTest.length"
      [index]="index"
      [clear]="clear"
    >
    </app-card>

    <div class="app__block-result">
      <div class="app__button" *ngIf="!isShowResults; else result" (click)="showResults()">
        Show results
      </div>
      <ng-template #result>
        <div class="app__button" (click)="showResults()">
          Hide results
        </div>
      </ng-template>
      <div class="app__result" *ngIf="isShowResults">
        Result {{ correctAnswers.count }} / {{ selectedTest.length }} <wbr> ({{ correctAnswers.percent }}%)
      </div>
    </div>
  </div>

  <ng-template #noCards>
    <div class="app__main-title"> Click Go </div>
  </ng-template>
</div>

<!--<router-outlet></router-outlet>-->
